In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("rick-and-morty-data/characters.csv",delimiter="\t")

In [3]:
df.head()

,id,name,status,species,type,gender,origin,location,episode,created
0,1,Rick Sanchez,Alive,Human,NaN,Male,1.0,20.0,"1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,1...",NaN
1,2,Morty Smith,Alive,Human,NaN,Male,1.0,20.0,"1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,1...",NaN
2,3,Summer Smith,Alive,Human,NaN,Female,20.0,20.0,"6,7,8,9,10,11,12,14,15,16,17,18,19,20,21,22,23...",NaN
3,4,Beth Smith,Alive,Human,NaN,Female,20.0,20.0,"6,7,8,9,10,11,12,14,15,16,18,19,20,21,22,23,24...",NaN
4,5,Jerry Smith,Alive,Human,NaN,Male,20.0,20.0,"6,7,8,9,10,11,12,13,14,15,16,18,19,20,21,22,23...",NaN

In [4]:
df.shape

(493, 10)